<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/reset-agent-password.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <title>Login</title>
  </head>
  <body>
    <div class="register-container">
      <div class="logo-container">
        <div class="img-con"><img src="../public/images/logo-head.png" /></div>
        <h3>EVALU<span>CALL</span></h3>
        <h4>RESET PASSWORD</h4>
      </div>

      <!-- <div class="display-error active">
        <p>Incorrect email or password.</p>
      </div> -->
      <p class="res"></p>
      <form id="registerForm">
        <div class="input-field">
          <label for="password">New Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter new password"
            required
          />
        </div>
        <div class="input-field">
          <label for="confirmPassword">Confirm New Password</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Confirm new password"
            required
          />
        </div>
        <div class="input-field">
          <input type="submit" value="Reset Password" />
        </div>
      </form>
    </div>
    <script src="../public/js/reset-agent-password.js"></script>
  </body>
</html>
